/*
    colors:
        -blue   #4dabe4
        -red    #b00100
        -yellow #f1a417
        -yellow2 #f5bf5c
        -red2 #c84d4c
*/
.container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;  
}
.table-container{
    position: relative;
    font-size:0;
    margin: 55px;
}
.table-container .inner-table tr td {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    background-color: #4dabe4;
    border:none;
}
.table-container .inner-table{
     border: 1px solid #4dabe4;
}
.table-container .st-btn{
    text-align: center;
    position: absolute;
    vertical-align: middle;
    font-size:24px;
    color:white;
    font-weight: 500;
    transition: background-color 500ms linear;
    width: 50px;
    height: 50px;
    border:none;
    margin:2px;
    visibility: hidden;
}
.table-container .left-delete-btn,.table-container .top-delete-btn{
    background-color: #b00100;
}
.table-container .left-delete-btn:hover,.table-container .top-delete-btn:hover{
    background-color: #c84d4c;
}
.table-container .right-add-btn,.table-container .bottom-add-btn{
    background-color: #f1a417;
}
.table-container .right-add-btn:hover,.table-container .bottom-add-btn:hover{
    background-color: #f5bf5c;   
}
.table-container .btn-show{
   visibility: visible;
}
.table-container .left-delete-btn{
    right:100%;
}
.table-container .top-delete-btn{
    bottom:100%;
}
.table-container .bottom-add-btn{
    top:100%;
}
.table-container .right-add-btn{
    left:100%
}